@{
    ViewBag.Title = "Paginas";
    List<Business.Pagina> paginas = ViewBag.Paginas;
}

<script>
    var ValidaExclusao = function (id, evento) {
        if (confirm("Confirma a exclusão dos dados?")) {
            return true
        }
        else {
            evento.preventDefault();
            return false;
        }
    };
</script>
@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">@TempData["Sucesso"]</div>
}
@if (TempData["Erro"] != null)
{
    <div class="alert alert-success">@TempData["Erro"]</div>
}


<div class="jumbotron">
    <h3>Páginas</h3>
    <div>
        <a href="/paginas/novo" class="btn btn-default">Nova Empresa</a>
    </div>
    <table class="table">
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>Data</td>
            <td></td>
            <td></td>
        </tr>
        @foreach (var p in paginas)
        {
    <tr>
        <td>@p.Id</td>
        <td>@p.Nome</td>
        <td>@p.Data</td>
        <td>
            <a href="/paginas/@p.Id/editar"class="btn btn-primary">Alterar dados</a>
        </td>
        <td>
            <a href="/paginas/@p.Id/excluir"class="btn btn-danger" onclick="ValidaExclusao(@p.Id, event)">Excluir dados</a>
        </td>
    </tr>
        }
    </table>

</div>
