@{ 
    Business.Cep cep = ViewBag.Cep;
}

<br />
<br />
<h1>Carregar CEP</h1>
<br />
<br />

<form action="">
    CEP:<br>
    <input type="text" class="form-control" name="cep" value="@cep.CEP" />
    <br>
    Endereço:<br>
    <input type="text" class="form-control" name="endereco" value="@cep.Endereco" />
    Bairro:<br>
    <input type="text" class="form-control" name="bairro" value="@cep.Bairro" />
    Cidade:<br>
    <input type="text" class="form-control" name="cidade" value="@cep.Cidade" />
    Estado:<br>
    <input type="text" class="form-control" name="estado" value="@cep.Estado" />
    <br>

</form>